{% extends "base.html" %}

{% block title %}{{ page.title }} - Digital Garden{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
{% endblock extra_css %}

{% block content %}
<!-- In your canvas.html template -->
<div class="canvas-container">
  <div id="canvas"></div>
</div>

<script id="canvas-data" type="application/json">
  {{ canvas|tojson }}
</script>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
{% endblock scripts %}